* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  @import "./variables/mixin";
  
  @import "./secciones/header";
  @import "./secciones/footer";
  @import "./secciones/main";
  
  /* 4K */
  
  @media (max-width: 2561px) {
    @include pantallasGrandes;
  }
  
  /* LAPTOP */
  
  @media (max-width: 1500px) {
    @include laptop;
  }
  
  @media (max-width: 992px) {
    .nav-link {
      color: white;
      font-weight: 500;
    }
    
  }
  
  /* TABLET */
  
  @media (max-width: 769px) {
    @include tablet;
  }
  
  /* MOBILE L */
  
  @media (max-width: 550px) {
    @include mobileL;
  }
  
  /* MOBILE M */
  @media (max-width: 376px) {
    @include mobileM;
  }
  