
  
  .footer {
    background-image: url(https://res.cloudinary.com/dya1efdwp/image/upload/v1662511234/proyecto_3/fondo_pqrjpq.jpg);
    p {
    display: flex;
    margin: 0 auto;
    justify-content: center;}
    section {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-around;}
  }
  
  